h1 {
	text-align: center;
	margin: auto;
	font-size: 50px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: black;
	text-shadow: 2px 2px #ff0000;
	padding: auto;
}

#gameDiv {
	display: block;
	margin: auto;
	padding: 10px;
}

#gameTable {
	margin: auto;
}

#topRow {
	background-color: teal;
}

#categoryName {
	width: 300px;
	height: 40px;
	color: white;
	text-align: center;
	font-variant-caps: all-petite-caps;
	font-size: 16px;
}

#categoryRow {
	width: 200px;
	height: 105px;
	background-color: #060ce9;
	color: white;
	text-align: center;
	font-size: 14px;
}

#loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 240px;
	height: 240px;
	animation: spin 2s linear infinite;
	margin: auto;
	margin-top: 100px;
	justify-content: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#startBtn {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: auto;
	margin-top: 7px;
	display: block;
}
